*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  /* background-color: black; */
}
h1{
  font-weight: normal;
  font-size: 25px;
}

section{
  height: 650px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
  align-items: center;
}

section h2{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 5px;
}

section p {
  font-weight: 300i;
  font-size: 20px;
}

section img {
  height: 50%
}


section:nth-child(1), section:nth-child(3){
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}  

section:nth-child(2){
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.contenedor-texto{
  text-align: center;
}
.contenedor-text h1{
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  border: 1px red solid;
}

.titulo{
  font-size: 40px;
  font-weight: 700;
  /* color: #fff; */
}

.boton{
  display: inline-block;
  margin-top: 5px;
  padding: 7px 8px;
  color: #283773;
  text-decoration: none;
  /* width: 100px; */
  text-align: center;
  border: 1px solid #fff;
  border-radius:  50px;
  background: #fff;
}

@media screen and (max-width:1000px){
  
  section{
    flex-direction: column;
  }

  section img{
    height: 40%;
  }

  .contenedor-text, .contenedor-text{
    text-align: center;
  }

}

@media screen and (max-width:500px){
  section img{
    height: 25%;
  }

}